DATABASE_URL=postgresql://postgres:password@192.168.1.100:5432/postgres
CORS_ORIGIN=http://localhost:3001
BETTER_AUTH_SECRET=xxx
BETTER_AUTH_URL=http://localhost:3000
# Get your webhook URL from: https://api.slack.com/apps -> Your App -> Incoming Webhooks
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx
HAPROXY_STATS_URL=http://192.168.1.100:8404